@use "../../utilities/variables" as var;
$line: none;

.footerWrapper {
  border: $line red;
  z-index: -1;
  display: flex;
  flex-direction: column;

  //   margin: 0 0.5rem 0 0.5rem;
  position: relative;
  bottom: -20rem;
  width: 100%;
  text-align: center;

  justify-content: space-around;

  background: rgba(17, 224, 192, 0.1);
  border-top: solid var.$accent-blue;
  border-width: 0.5px;
  h2 {
    padding-top: 5rem;
    font-size: 0.9rem;
    color: var.$accent-blue;
    background-color: transparent !important;
    span {
      text-decoration: underline;
      color: var.$accent-blue;
      background-color: transparent !important;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
