@use "../../utilities/variables" as var;
@import "../../utilities/mixins";
$line: none;

.allCategoriesWrapper {
  border: $line blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headingWrapper {
  border: $line red;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem 0 2rem 0;

  .leftElementsWrapper {
    border: $line white;
    width: 45%;
    h1 {
      width: 95%;
      text-overflow: unset;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      border: $line gray !important;
    }
    .buttonWrapper {
      border: $line blueviolet;
      margin-left: 1rem;
      display: flex;
      svg {
        font-size: 1.5rem;
        color: var.$accent-blue;
        &:hover {
          cursor: pointer;
          @include fade-in-animation(
            color,
            var.$accent-blue,
            var.$accent-green,
            0.2s
          );
        }
      }
    }
  }
}

.jobWrapper {
  border: $line green;
  width: 90%;
  h2 {
    border: $line orange;
    text-align: left;
    font-weight: 900;
    margin: 1rem 0 1rem 0;
  }
}
