@use "./variables" as var;

// Unviersal Button Styles
%buttonStyles {
  color: var.$accent-blue;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  height: 3rem;
  width: 3rem;
  &:hover {
    cursor: pointer;
    color: var.$accent-green;
  }
}

%loginButton {
  background-color: var.$accent-blue;
  border-radius: var.$action-radius;
  font-family: Arial, Helvetica, sans-serif;
  color: var.$black-gray;
  border-color: var.$accent-blue;
  padding: 0.7rem;
}

// %googleButton

// Chevron button general styling.
%chevron {
  @extend %buttonStyles;
  background-color: transparent;
}

// %addButton
%addButton {
  @extend %buttonStyles;
  width: 2rem;
  height: 2rem;
}

// %radioButton
%radioButton {
  @extend %buttonStyles;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
}

// %inputField

// %loginModal

// %jobModal
