@use "./variables" as var;

%loginButton {
  background-color: var.$accent-blue;
  border-radius: var.$action-radius;
  font-family: Arial, Helvetica, sans-serif;
  color: var.$black-gray;
  border-color: var.$accent-blue;
  padding: 0.7rem;
}

// %googleButton

// Chevron button general styling.
%chevron {
  color: var.$accent-blue;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  height: 3rem;
  width: 3rem;
}

%chevron:hover {
  cursor: pointer;
  color: var.$accent-green;
}

// %addButton

// %inputField

// %loginModal

// %jobModal
