@use ".variables" as var;

%loginButton {
    background-color: var.$accent-blue;
    border-radius: var.$action-radius;
    font-family: Arial, Helvetica, sans-serif;
}

// %googleButton

// %smallCollapseButton

// %largeCollapseButton

// %smallHideButton

// %largeHideButton

// %addButton

// %inputField

// %loginModal

// %jobModal

