@use "./variables" as var;
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Fredoka:wght@700&display=swap");

// Logo
%logo {
  color: var.$accent-blue;
  font-size: var.$logo-size;
  font-weight: var.$logo-weight;
  font-family: "Fredoka", sans-serif;
}

// Title
%title {
  color: var.$accent-blue;
  font-size: var.$title-size;
  font-weight: var.$title-weight;
  font-family: "Open Sans", sans-serif;
}

// NOTE: please go to global.scss for standard heading and context text
// styling.
