// Colors.
$accent-blue: #11e0c0;
$black-gray: #323232;
$dark-gray: #3a3a3a;
$gray: #5c5a5a;

// Color Monochrome
$blue: #11e0c0;
$blue-bright: #33f1d3;
$blue-brightest: #62f5de;

// Color Variables.
$background: #{$black-gray};
$modal-background: #{$dark-gray};
$description-background: #{$gray};

// Border widths
$button-border: 4px;
$modal-border: 1px;

// Radii
$action-radius: 8px;

// Heights

// Font weights
$title-weight: 800;
$logo-weight: 800;
$heading1-weight: 600;
$heading2-weight: 400;
$paragraph-weight: 100;

// Font size
$logo-size: 1.5rem;
$title-size: 4rem;
$heading1-size: 1.5rem;
$heading2-size: 1rem;
$paragraph-size: 0.5rem;
