@use "../../utilities/variables" as var;

$line: solid;

.googleWrapper {
  border: $line red;
  border: solid var.$accent-blue;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 0.5rem;
  background-color: var.$black-gray;
  h1 {
    font-weight: 100;
    margin: 0;
    background-color: var.$black-gray;
  }
  .icon {
    color: var.$accent-blue;
    background-color: var.$black-gray;
  }
}

.googleWrapper:hover {
  cursor: pointer;
  opacity: 0.9;
  border-color: var.$accent-green;
  h1,
  .icon {
    color: var.$accent-green;
  }
}
