@use "../../utilities/variables" as var;
@import "../../utilities/mixins";
$line: solid;

.googleWrapper {
  border: $line red;
  border: solid var.$accent-blue;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 0.2rem;
  background-color: var.$black-gray;
  h1 {
    font-weight: 100;
    margin: 0;
    background-color: var.$black-gray;
  }
  .icon {
    color: var.$accent-blue;
    background-color: var.$black-gray;
    margin-right: 1rem;
  }
  &:hover {
    cursor: pointer;
    border-color: var.$accent-green;

    h1,
    .icon {
      @include fade-in-animation(
        color,
        var.$accent-blue,
        var.$accent-green,
        0.2
      );
    }
  }
}
