@use "../../utilities/fonts";
@use "../../utilities/variables" as var;

.title {
  @extend %title;
  margin-top: 20rem;
  font-family: sans-serif;
  $color-one: hsl(171, 86%, 46%);
  $color-two: hsl(81, 83%, 46%);
  // Background with a radial gradient transitioning from $color-one to $color-two, covering the entire element
  // NOTE: 0 0 is the initial position, 200% is the size of the gradient. It should cover an area
  // twice its width. 100% means cover all of its height.
  background: radial-gradient(circle, $color-one, $color-two) 0 0 / 200%, 100%;
  color: transparent;
  background-clip: text;
}

// Animation for title elements only on devices with no preference for reduced motion */
@media (prefers-reduced-motion: no-preference) {
  .title {
    // Background animation moving horizontally to 200%
    animation: move-bg 10s linear infinite;
  }

  @keyframes move-bg {
    to {
      background-position: 200% 0;
    }
  }
}
