@use "../../utilities/variables" as var;

$line: none;
$background: var.$black-gray;

.formWrapper {
  border: $line red;
  border: solid var.$accent-blue;
  display: flex;
  max-width: 25rem;
  min-width: 10rem;
  flex-direction: column;
  padding: 0 !important;
  background-color: $background;
  border-radius: 0.5rem;
  h2,
  p {
    background-color: transparent;
    margin: 0;
  }
  h2 {
    text-decoration: underline;
    font-weight: 600;
  }
}

.topContainer {
  border: $line blue;
  display: flex;
  background-color: transparent;
  padding: 0.5rem;
  // Divider line
  border-bottom: solid var.$accent-blue;
}

.bottomContainer {
  border: $line green;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
  padding: 0.5rem;
}

.left {
  border: $line orange;
  width: 50%;
  display: flex;
  flex-direction: column;
  // Divier Line
  border-right: solid var.$accent-blue;
  background-color: $background;
  h2 {
    background-color: transparent;
  }
}

.right {
  border: $line gray;
  width: 50%;
  background-color: transparent;
}

// Radio buttons
.radioContainer {
  border: $line blue;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.radioPair {
  border: $line white;
  display: flex;
  // justify-content: space-around;
  background-color: transparent;
  align-items: center;
  text-align: center;
}

// Rows
.topRow,
.bottomRow {
  border: $line yellow;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: transparent;
}

.bottomRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

// Individual Containers.
#resumeUpload {
  border: $line purple;
  width: 90%;
}
