@use "../../utilities/variables" as var;

$line: none;
$background: var.$black-gray;

// Parent
.formWrapper {
  border: $line red;
  border: solid var.$accent-blue;
  display: flex;
  max-width: 25rem;
  min-width: 10rem;
  flex-direction: column;
  padding: 0 !important;
  background-color: $background;
  border-radius: 0.5rem;
  text-align: start;
  h2,
  p {
    background-color: transparent;
    margin: 0;
  }
  // Title, Link and Resmue link edit
  .editText {
    &:hover {
      cursor: pointer;
      background-color: var.$dark-gray;
    }
  }
  h2 {
    text-decoration: underline;
    font-weight: 600;
    margin-bottom: 0.3rem;
  }
}

.topContainer {
  border: $line blue;
  display: flex;
  background-color: transparent;
  padding: 0.5rem;
  // Divider line
  border-bottom: solid var.$accent-blue;
  border-width: 1px;
}

.bottomContainer {
  border: $line green;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
  padding: 0.5rem;
}

.left {
  border: $line orange;
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: $background;
  // Divier Line
  border-right: solid var.$accent-blue;
  border-width: 1px;
  h2 {
    background-color: transparent;
  }
}

.right {
  border: $line gray;
  width: 50%;
  background-color: transparent;
  padding-left: 0.5rem;
}

// Summary Container
.summaryPoints {
  border-radius: 0.3rem;
  background-color: var.$gray;
  ul {
    background-color: transparent;

    li {
      background-color: transparent;

      &::marker {
        color: white;
      }
    }
  }
}

// Radio buttons
.radioContainer {
  border: $line blue;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.radioPair {
  border: $line white;
  display: flex;
  background-color: transparent;
  align-items: center;
  text-align: center;
}

// Rows
.topRow,
.bottomRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: transparent;
}

.bottomRow {
  padding-top: 1rem;
  border: $line yellow;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.topRow {
  border: $line red;
}

// Individual Containers.
#resumeUpload {
  border: $line purple;
  width: 90%;
  padding: 0;
}
