@use "../../utilities/elements";

.buttonWrapper {
  // height: 100%;
  padding: 0 !important;
  border-radius: 50% !important;
  border: none !important;
  background-color: none !important;
  margin: 0 !important;
  .addButton {
    @extend %addButton;
  }
}
