@use "../../utilities/variables" as var;
@use "../../utilities/elements";
@import "../../utilities/mixins";

$line: none;
$common-background: var.$black-gray;

.formBackground {
  position: fixed;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  @include fade-in-animation(opacity, 0, 1, 2s);
}

.formWrapper {
  border: $line red;
  border: solid var.$accent-blue;
  border-radius: 0.2rem;
  background-color: $common-background;
  padding: 1rem 1.5rem 1rem 1.5rem;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h1 {
    background-color: $common-background;
  }
}

.topContainer {
  border: $line blue;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.4rem;
  background-color: $common-background;
}

.bottomContainer {
  margin-top: 0.4rem;
  border: $line green;
  display: flex;
  flex-direction: column;
  background-color: $common-background;
  h2 {
    margin-top: 1rem;
    background-color: $common-background;
  }
  span {
    font-weight: 800;
    text-decoration: underline;
    background-color: $common-background;

    &:hover {
      cursor: pointer;
      @include fade-in-animation(
        color,
        var.$accent-blue,
        var.$accent-green,
        0.2s
      );
    }
  }
}

// Individual text styles
.heading {
  text-decoration: underline;
  margin: 1rem 0 1rem 0;
}

#groupWrapper {
  background-color: transparent;
}

.inputWrapper {
  border: $line red;
  border: solid var.$accent-blue !important;
  background-color: var.$dark-gray !important;
  color: white !important;
  margin: 0.4rem 0 0.4rem 0 !important;
}

.button {
  border: $line orange !important;
  padding: 0.3rem !important;
  margin: 0 !important;
  background-color: var.$accent-blue !important;
  margin: 0.4rem 0 0.4rem 0 !important;
  &:hover {
    background-color: var.$accent-green !important;
    @include fade-in-animation(
      color,
      var.$accent-blue,
      var.$accent-green,
      0.2s
    );
  }
  .eye {
    border: $line green;
    background-color: transparent;
    color: var.$dark-gray;
  }
}

// Buttons
.closeButton {
  background: transparent !important;
  border: $line gray;
  width: 24rem;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;

  svg {
    border: $line white;
    background-color: transparent;
    color: var.$accent-blue;
    font-size: 2rem;
    // It will pass in color animation types to the mixin.
    &:hover {
      cursor: pointer;
      @include fade-in-animation(
        color,
        var.$accent-blue,
        var.$accent-green,
        0.2s
      );
    }
  }
}
