@use "../../utilities/elements";
@use "../../utilities/variables" as var;
@import "../../utilities/mixins";

$line: solid;
$padding: 1rem;

// Parent container.
.buttonContainer {
  border: $line red;
  border-radius: 0.5rem;
  background-color: var.$gray;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// View container
.viewContainer {
  border: $line green;
  background-color: var.$gray;
  border-bottom: solid var.$accent-blue;
  border-width: var.$thin-seperator;
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  align-items: center;
  padding: $padding 0 $padding 0;
  text-align: center;

  div {
    border: $line gray;
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.2rem 0 0.2rem 0;
    border-radius: 0.2rem;
    background-color: var.$gray;
    p {
      margin: 0;
      background-color: var.$gray;
    }
  }
}

// .viewContainer:hover {
//   cursor: pointer;
//   #eye {
//     color: var.$accent-green;
//   }
// }

// Upload and download container
.bottomContainer {
  border: $line pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var.$gray;
  padding: $padding 0 $padding 0;
  border-radius: 0 0 0.5rem 0.5rem;
}

// Individual button styling
.buttonWrapper {
  @extend %buttonStyles;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var.$gray;
}

#upload {
  border: $line blue;
  border-radius: 0;
}

// View button (eye)
#eye {
  height: 2rem;
  width: 2rem;
  border: $line orange;
  border-radius: 0;
  &:hover {
    @include fade-in-animation(
      color,
      var.$accent-blue,
      var.$accent-green,
      0.2s
    );
  }
}
