@use "../../utilities/elements";
@use "../../utilities/variables" as var;
@import "../../utilities/mixins";

$line: none;
$padding: 1rem;

// Parent container.
.buttonContainer {
  border: $line red;
  border-radius: 0.5rem;
  background-color: var.$gray;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// View container
.viewContainer {
  border: $line green;
  background-color: var.$gray;
  border-width: var.$thin-seperator;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  padding: $padding 0 $padding 0;
  text-align: center;
  margin-bottom: 0.5rem;

  // View button (eye)
  #eye {
    height: 2rem;
    width: 2rem;
    border: $line orange;
    border-radius: 0;
    &:hover {
      @include fade-in-animation(
        color,
        var.$accent-blue,
        var.$accent-green,
        0.2s
      );
    }
  }
}
.viewTextWrapper {
  border: $line gray;
  margin: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.2rem 0 0.2rem 0;
  border-radius: 0.2rem;
  background-color: var.$gray;
  &:hover {
    @include fade-in-animation(
      background-color,
      var.$gray,
      var.$dark-gray,
      0.2s
    );
    cursor: pointer;
  }
  p {
    margin: 0;
    background-color: transparent;
  }
}

// Individual button styling
.buttonWrapper {
  @extend %buttonStyles;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var.$gray;
}
